In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
data= pd.read_csv('Sales_add.csv')

In [19]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [20]:
data.shape

(22, 5)

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

#Whether there is any increase in sales after stepping into digital marketing

In [22]:
#increase in sales after stepping into digital marketting? Use t test as low value of n.
#Sales is continuous, not categorical, therefore not chisquare test appropriate
from scipy.stats import ttest_ind
t_stat, p_value= ttest_ind(data['Sales_before_digital_add(in $)'], data['Sales_After_digital_add(in $)'])

In [23]:
#print values
print('T-statistic:', t_stat)
print('P-value:', p_value)

T-statistic: -12.995084451110875
P-value: 2.614368006904645e-16

In [24]:
#any difference?
if p_value < 0.05:
    print('''There is a significant difference in
          sales between digital marketing and no digital marketing.''')
else:
    print('''There is no significant difference in sales between
    digital marketing and no digital marketing.''')

There is a significant difference in
          sales between digital marketing and no digital marketing.

In [25]:
#increase or decrease?
print('mean before digital=', data['Sales_before_digital_add(in $)'].mean())
print('mean after digital=', data['Sales_After_digital_add(in $)'].mean())

mean before digital= 149239.95454545456
mean after digital= 231123.72727272726

##Whether there is any dependency between the features “Region” and “Manager”.

In [26]:
# region and manager are categorical data, therefore chisquare test
# use chisquare test for contingency, so create contingency table
from scipy.stats import chi2_contingency

In [27]:
#pd.crosstab
cont_table= pd.crosstab(data['Region'], data['Manager'])

In [28]:
chi_stat, p_value, dof, exp= chi2_contingency(cont_table)

In [29]:
print('Chi-square statistic:', chi_stat)
print('P-value:', p_value)

Chi-square statistic: 3.050566893424036
P-value: 0.5493991051158094

In [30]:
if p_value < 0.05:
    print('There is a significant dependency between Region and Manager.')
else:
    print('There is no significant dependency between Region and Manager.')

There is no significant dependency between Region and Manager.